.npmrc
.DS_Store
*todo.md
coverage
node_modules
www/sitemap.xml
www/api/
!www/api/openapi.yml

data/
!data/*,*,1d.jsonl

# fixme: remove those from repo

cdp_api_key.json

data0/
data2/
binance.json
binance.symbols.jsonl
coinbase.json
coinbase.symbols.jsonl
coinmarketcap.json

