{
  "openapi": "3.0.0",
  "info": {
    "title": "//finance.codin.xyz",
    "version": "1.0.0-beta",
    "description": "An open-source cryptocurrency data service, with daily-updated data in multiple formats. Accessible, developer-friendly, and Google Sheets and RSS reader-friendly.",
    "termsOfService": "https://finance.codin.xyz/terms-of-service.html",
    "contact": {
      "email": "info@codin.gg"
    }
  },
  "externalDocs": {
    "description": "Github wiki",
    "url": "https://github.com/codin-gg/finance.codin.xyz/wiki"
  },
  "servers": [
    {
      "description": "Github Pages",
      "url": "https://finance.codin.xyz/api"
    }
  ],
  "paths": {
    "/{ticker}/{year}/{interval}.{format}": {
      "parameters": [
        {
          "in": "path",
          "name": "year",
          "required": true,
          "schema": {
            "type": "number"
          },
          "description": "The year"
        },
        {
          "in": "path",
          "name": "ticker",
          "required": true,
          "schema": {
            "type": "string",
            "enum": ["00-usd","1inch-btc","1inch-eur","1inch-usd","aave-btc","aave-eur","aave-usd","abt-usd","ach-usd","acs-usd","ada-btc","ada-eth","ada-eur","ada-usd","aergo-usd","agld-usd","aioz-usd","alcx-usd","aleph-usd","algo-btc","algo-eur","algo-usd","alice-usd","amp-usd","ankr-btc","ankr-eur","ankr-usd","ant-usd","ape-eur","ape-usd","api3-usd","apt-usd","arb-usd","arpa-eur","arpa-usd","asm-usd","ast-usd","ata-usd","atom-btc","atom-eur","atom-usd","auction-eur","auction-usd","audio-usd","aurora-usd","avax-btc","avax-eur","avax-usd","avt-usd","axl-usd","axs-btc","axs-eur","axs-usd","badger-eur","badger-usd","bal-btc","bal-usd","band-btc","band-eur","band-usd","bat-btc","bat-eth","bat-eur","bat-usd","bch-btc","bch-eur","bch-usd","bico-eur","bico-usd","bit-usd","blur-usd","blz-usd","bnt-btc","bnt-eur","bnt-usd","boba-usd","btc-eur","btc-usd","btrst-btc","btrst-eur","btrst-usd","c98-usd","cbeth-eth","cbeth-usd","celr-usd","cgld-btc","cgld-eur","cgld-usd","chz-eur","chz-usd","clv-usd","comp-btc","comp-usd","coti-usd","coval-usd","cro-eur","cro-usd","crpt-usd","crv-btc","crv-eur","crv-usd","ctsi-btc","ctsi-usd","ctx-usd","cvc-usd","cvx-usd","dai-usd","dar-usd","dash-btc","dash-usd","deso-usd","dext-usd","dia-usd","dimo-usd","dnt-usd","doge-btc","doge-eur","doge-usd","dot-btc","dot-eur","dot-usd","drep-usd","dyp-usd","egld-usd","ela-usd","enj-btc","enj-usd","ens-eur","ens-usd","eos-btc","eos-eur","eos-usd","ern-usd","etc-btc","etc-eur","etc-usd","eth-btc","eth-dai","eth-eur","eth-usd","euroc-eur","euroc-usd","farm-usd","fet-usd","fida-usd","fil-btc","fil-eur","fil-usd","fis-usd","flow-usd","flr-usd","fort-usd","forth-btc","forth-eur","forth-usd","fox-usd","fx-usd","gal-usd","gala-usd","gfi-usd","ghst-usd","glm-usd","gmt-usd","gno-usd","gods-usd","grt-btc","grt-eur","grt-usd","gst-usd","gtc-usd","gusd-usd","gyen-usd","hbar-usd","hft-usd","high-usd","hnt-usd","hopr-usd","icp-btc","icp-eur","icp-usd","idex-usd","ilv-usd","imx-usd","index-usd","inj-usd","inv-usd","iotx-eur","iotx-usd","jasmy-usd","kava-usd","knc-btc","knc-usd","krl-usd","ksm-usd","lcx-eur","lcx-usd","ldo-usd","link-btc","link-eth","link-eur","link-usd","lit-usd","loka-usd","lpt-usd","lqty-eur","lqty-usd","lrc-btc","lrc-usd","lseth-eth","lseth-usd","ltc-btc","ltc-eur","ltc-usd","magic-usd","mana-btc","mana-eth","mana-eur","mana-usd","mask-eur","mask-usd","math-usd","matic-btc","matic-eur","matic-usd","mco2-usd","mdt-usd","media-usd","metis-usd","mina-eur","mina-usd","mkr-btc","mkr-usd","mln-usd","mnde-usd","mona-usd","mpl-usd","msol-usd","mtl-usd","muse-usd","mxc-usd","nct-usd","near-usd","nkn-btc","nkn-eur","nkn-usd","nmr-btc","nmr-eur","nmr-usd","ocean-usd","ogn-btc","ogn-usd","op-usd","orca-usd","orn-usd","osmo-usd","oxt-usd","pax-usd","perp-eur","perp-usd","pla-usd","plu-usd","png-usd","pols-usd","poly-usd","pond-usd","powr-eur","powr-usd","prime-usd","pro-usd","prq-usd","pundix-usd","pyr-usd","pyusd-usd","qi-usd","qnt-usd","qsp-usd","quick-usd","rad-btc","rad-eur","rad-usd","rai-usd","rare-usd","rari-usd","rbn-usd","ren-btc","ren-usd","req-btc","req-eur","req-usd","rlc-btc","rlc-usd","rndr-eur","rndr-usd","rose-usd","rpl-usd","sand-usd","sei-usd","shib-eur","shib-usd","shping-usd","skl-btc","skl-eur","skl-usd","snt-usd","snx-btc","snx-eur","snx-usd","sol-btc","sol-eth","sol-eur","sol-usd","spa-usd","spell-usd","storj-btc","storj-usd","stx-usd","sui-usd","suku-usd","super-usd","sushi-btc","sushi-eth","sushi-eur","sushi-usd","swftc-usd","sylo-usd","syn-usd","t-usd","time-usd","tone-usd","trac-eur","trac-usd","trb-usd","tru-btc","tru-eur","tru-usd","tvk-usd","uma-btc","uma-eur","uma-usd","unfi-usd","uni-btc","uni-eur","uni-usd","usdc-eur","usdt-eur","usdt-usd","vara-usd","vet-usd","voxel-usd","vtho-usd","wampl-usd","waxl-usd","wbtc-btc","wbtc-usd","wcfg-usd","xcn-usd","xlm-btc","xlm-eur","xlm-usd","xrp-eur","xrp-usd","xtz-btc","xtz-eur","xtz-usd","xyo-eur","xyo-usd","yfi-btc","yfi-usd","zec-btc","zec-usd","zen-btc","zen-usd","zrx-btc","zrx-eur","zrx-usd"]
          },
          "example": "btc-usd",
          "description": "Identifier of the ticker\n\n**Not yet supported values: btc-usdc, eth-usdc, xrp-usdc, sol-usdc, btc-usdt, link-usdc, matic-usdc, xlm-usdc, bch-usdc, eth-usdt, ltc-usdc, ada-usdc, op-usdc, mkr-usdc, shib-usdc, doge-usdc, usdt-gbp, aave-usdc, rndr-usdc, btc-gbp, inv-usdc, avax-usdc, ldo-usdc, qnt-usdc, trb-usdc, hbar-usdc, suku-usdc, ogn-usdc, eth-gbp, fet-usdc, icp-usdc, arb-usdc, dot-usdc, jasmy-usdc, atom-usdc, xrp-usdt, uni-usdc, storj-usdc, inj-usdc, usdt-usdc, stx-usdc, etc-usdc, usdc-gbp, algo-usdc, shping-usdc, ape-usdc, blz-usdc, fil-usdc, comp-usdc, lqty-usdc, near-usdc, yfi-usdc, grt-usdc, cbeth-usdc, snx-usdc, apt-usdc, ach-usdc, sol-gbp, amp-usdc, skl-usdc, dai-usdc, eos-usdc, asm-usdc, oxt-usdc, tru-usdc, acs-usdc, blur-usdc, crv-usdc, sol-usdt, sushi-usdc, sui-usdc, matic-usdt, cvc-usdc, imx-usdc, xtz-usdc, sand-usdc, mana-usdc, lrc-usdc, gusd-usdc, fida-usdc, vet-usdc, sei-usdc, rpl-usdc, spell-usdc, mask-usdc, rose-usdc, magic-usdc, ankr-usdc, lpt-usdc, mdt-usdc, agld-usdc, auction-usdc, perp-usdc, cro-usdc, matic-gbp, ltc-gbp, api3-usdc, euroc-usdc, link-usdt, mpl-usdc, mco2-usdc, chz-usdc, poly-usdc, loka-usdc, iotx-usdc, mln-usdc, flow-usdc, chz-usdt, gtc-usdc, wcfg-usdc, prime-usdc, zrx-usdc, ren-usdc, vara-usdc, cgld-usdc, flow-usdt, syn-usdc, lcx-usdc, pyr-usdc, vtho-usdc, fet-usdt, atom-gbp, lqty-usdt, wbtc-usdc, rndr-usdt, link-gbp, nkn-usdc, axs-usdc, icp-usdt, plu-usdc, coti-usdc, hnt-usdc, sand-usdt, forth-usdc, bico-usdc, knc-usdc, ens-usdc, zec-usdc, high-usdc, nmr-usdc, enj-usdc, orca-usdc, hft-usdc, ocean-usdc, ada-gbp, doge-usdt, ilv-usdc, dimo-usdc, doge-gbp, op-usdt, dnt-usdc, dash-usdc, ctsi-usdc, mina-usdc, flr-usdc, xcn-usdc, unfi-usdc, btrst-usdc, pundix-usdc, ape-usdt, deso-usdc, rlc-usdc, shib-usdt, hbar-usdt, 1inch-usdc, bat-usdc, egld-usdc, avax-usdt, req-usdc, prq-usdc, audio-usdc, kava-usdc, fx-usdc, ata-usdc, clv-usdc, gmt-usdc, png-usdc, boba-usdc, xyo-usdc, uma-usdc, coval-usdc, mxc-usdc, alcx-usdc, near-usdt, time-usdc, rose-usdt, pla-usdc, voxel-usdc, arpa-usdc, band-usdc, tone-usdc, media-usdc, etc-gbp, trac-usdc, atom-usdt, xlm-usdt, super-usdc, ant-usdc, rad-usdc, bal-usdc, ksm-usdc, fort-usdc, icp-gbp, gods-usdc, shib-gbp, zen-usdc, ada-usdt, farm-usdc, mask-gbp, pond-usdt, bch-gbp, dot-usdt, powr-usdc, nct-usdc, dot-gbp, tru-usdt, axl-usdc, pyusd-usdc, swftc-usdc, dext-usdc, snx-gbp, glm-usdc, gal-usdc, perp-usdt, mtl-usdc, tvk-usdc, apt-usdt, cvx-usdc, celr-usdc, gfi-usdc, crpt-usdc, dyp-usdc, qnt-usdt, ach-usdt, algo-gbp, bnt-usdc, metis-usdc, fox-usdc, ctx-usdc, mnde-usdc, pond-usdc, bit-usdc, qsp-usdc, imx-usdt, c98-usdc, spa-usdc, osmo-usdc, drep-usdc, badger-usdc, stx-usdt, pro-usdc, aave-gbp, grt-gbp, chz-gbp, skl-gbp, quick-usdc, aurora-usdc, msol-usdc, axs-usdt, t-usdc, alice-usdc, lrc-usdt, muse-usdc, sylo-usdc, snt-usdc, orn-usdc, mona-usdc, band-gbp, ast-usdc, aioz-usdc, lseth-usdc, gst-usdc, ern-usdc, mask-usdt, jasmy-usdt, lit-usdc, wampl-usdc, krl-usdc, idex-usdc, fil-gbp, abt-usdc, dar-usdc, pols-usdc, 1inch-gbp, 00-usdc, rbn-usdc, hft-usdt, rari-usdc, sushi-gbp, fis-usdc, zen-usdt, agld-usdt, qi-usdc, powr-usdt, index-usdc, dia-usdc, ksm-usdt, gno-usdc, crv-gbp, cro-usdt, pax-usdc, uni-gbp, xtz-gbp, bico-usdt, gyen-usdc, arpa-usdt, gal-usdt, avt-usdc, rai-usdc, ankr-gbp, btrst-usdt, math-usdc, waxl-usdc, trac-usdt, aleph-usdc, lcx-usdt, ela-usdc, auction-usdt, aergo-usdc, ern-usdt, metis-usdt, req-gbp, deso-usdt, spell-usdt, rad-usdt, super-usdt, hopr-usdc, req-usdt, ghst-usdc, c98-usdt, rare-usdc, gmt-usdt, cgld-gbp, ens-usdt, idex-usdt, xyo-usdt, ela-usdt, enj-usdt, rad-gbp, nmr-gbp, uma-gbp, mina-usdt, badger-usdt, nkn-gbp, gala-usdc**"
        },
        {
          "in": "path",
          "name": "interval",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "1d"
            ]
          },
          "description": "The interval of the candles"
        },
        {
          "in": "path",
          "name": "format",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "csv",
              "json"
            ]
          },
          "description": "The format of the response"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {},
              "text/csv": {}
            }
          }
        }
      }
    },
    "/{ticker}/{year}/{month}/{interval}.{format}": {
      "parameters": [
        {
          "in": "path",
          "name": "year",
          "required": true,
          "schema": {
            "type": "number"
          },
          "description": "The year"
        },
        {
          "in": "path",
          "name": "month",
          "required": true,
          "schema": {
            "type": "number"
          },
          "description": "The month"
        },
        {
          "in": "path",
          "name": "ticker",
          "required": true,
          "schema": {
            "type": "string",
            "enum": ["00-usd","1inch-btc","1inch-eur","1inch-usd","aave-btc","aave-eur","aave-usd","abt-usd","ach-usd","acs-usd","ada-btc","ada-eth","ada-eur","ada-usd","aergo-usd","agld-usd","aioz-usd","alcx-usd","aleph-usd","algo-btc","algo-eur","algo-usd","alice-usd","amp-usd","ankr-btc","ankr-eur","ankr-usd","ant-usd","ape-eur","ape-usd","api3-usd","apt-usd","arb-usd","arpa-eur","arpa-usd","asm-usd","ast-usd","ata-usd","atom-btc","atom-eur","atom-usd","auction-eur","auction-usd","audio-usd","aurora-usd","avax-btc","avax-eur","avax-usd","avt-usd","axl-usd","axs-btc","axs-eur","axs-usd","badger-eur","badger-usd","bal-btc","bal-usd","band-btc","band-eur","band-usd","bat-btc","bat-eth","bat-eur","bat-usd","bch-btc","bch-eur","bch-usd","bico-eur","bico-usd","bit-usd","blur-usd","blz-usd","bnt-btc","bnt-eur","bnt-usd","boba-usd","btc-eur","btc-usd","btrst-btc","btrst-eur","btrst-usd","c98-usd","cbeth-eth","cbeth-usd","celr-usd","cgld-btc","cgld-eur","cgld-usd","chz-eur","chz-usd","clv-usd","comp-btc","comp-usd","coti-usd","coval-usd","cro-eur","cro-usd","crpt-usd","crv-btc","crv-eur","crv-usd","ctsi-btc","ctsi-usd","ctx-usd","cvc-usd","cvx-usd","dai-usd","dar-usd","dash-btc","dash-usd","deso-usd","dext-usd","dia-usd","dimo-usd","dnt-usd","doge-btc","doge-eur","doge-usd","dot-btc","dot-eur","dot-usd","drep-usd","dyp-usd","egld-usd","ela-usd","enj-btc","enj-usd","ens-eur","ens-usd","eos-btc","eos-eur","eos-usd","ern-usd","etc-btc","etc-eur","etc-usd","eth-btc","eth-dai","eth-eur","eth-usd","euroc-eur","euroc-usd","farm-usd","fet-usd","fida-usd","fil-btc","fil-eur","fil-usd","fis-usd","flow-usd","flr-usd","fort-usd","forth-btc","forth-eur","forth-usd","fox-usd","fx-usd","gal-usd","gala-usd","gfi-usd","ghst-usd","glm-usd","gmt-usd","gno-usd","gods-usd","grt-btc","grt-eur","grt-usd","gst-usd","gtc-usd","gusd-usd","gyen-usd","hbar-usd","hft-usd","high-usd","hnt-usd","hopr-usd","icp-btc","icp-eur","icp-usd","idex-usd","ilv-usd","imx-usd","index-usd","inj-usd","inv-usd","iotx-eur","iotx-usd","jasmy-usd","kava-usd","knc-btc","knc-usd","krl-usd","ksm-usd","lcx-eur","lcx-usd","ldo-usd","link-btc","link-eth","link-eur","link-usd","lit-usd","loka-usd","lpt-usd","lqty-eur","lqty-usd","lrc-btc","lrc-usd","lseth-eth","lseth-usd","ltc-btc","ltc-eur","ltc-usd","magic-usd","mana-btc","mana-eth","mana-eur","mana-usd","mask-eur","mask-usd","math-usd","matic-btc","matic-eur","matic-usd","mco2-usd","mdt-usd","media-usd","metis-usd","mina-eur","mina-usd","mkr-btc","mkr-usd","mln-usd","mnde-usd","mona-usd","mpl-usd","msol-usd","mtl-usd","muse-usd","mxc-usd","nct-usd","near-usd","nkn-btc","nkn-eur","nkn-usd","nmr-btc","nmr-eur","nmr-usd","ocean-usd","ogn-btc","ogn-usd","op-usd","orca-usd","orn-usd","osmo-usd","oxt-usd","pax-usd","perp-eur","perp-usd","pla-usd","plu-usd","png-usd","pols-usd","poly-usd","pond-usd","powr-eur","powr-usd","prime-usd","pro-usd","prq-usd","pundix-usd","pyr-usd","pyusd-usd","qi-usd","qnt-usd","qsp-usd","quick-usd","rad-btc","rad-eur","rad-usd","rai-usd","rare-usd","rari-usd","rbn-usd","ren-btc","ren-usd","req-btc","req-eur","req-usd","rlc-btc","rlc-usd","rndr-eur","rndr-usd","rose-usd","rpl-usd","sand-usd","sei-usd","shib-eur","shib-usd","shping-usd","skl-btc","skl-eur","skl-usd","snt-usd","snx-btc","snx-eur","snx-usd","sol-btc","sol-eth","sol-eur","sol-usd","spa-usd","spell-usd","storj-btc","storj-usd","stx-usd","sui-usd","suku-usd","super-usd","sushi-btc","sushi-eth","sushi-eur","sushi-usd","swftc-usd","sylo-usd","syn-usd","t-usd","time-usd","tone-usd","trac-eur","trac-usd","trb-usd","tru-btc","tru-eur","tru-usd","tvk-usd","uma-btc","uma-eur","uma-usd","unfi-usd","uni-btc","uni-eur","uni-usd","usdc-eur","usdt-eur","usdt-usd","vara-usd","vet-usd","voxel-usd","vtho-usd","wampl-usd","waxl-usd","wbtc-btc","wbtc-usd","wcfg-usd","xcn-usd","xlm-btc","xlm-eur","xlm-usd","xrp-eur","xrp-usd","xtz-btc","xtz-eur","xtz-usd","xyo-eur","xyo-usd","yfi-btc","yfi-usd","zec-btc","zec-usd","zen-btc","zen-usd","zrx-btc","zrx-eur","zrx-usd"]
          },
          "example": "btc-usd",
          "description": "Identifier of the ticker\n\n**Not yet supported values: btc-usdc, eth-usdc, xrp-usdc, sol-usdc, btc-usdt, link-usdc, matic-usdc, xlm-usdc, bch-usdc, eth-usdt, ltc-usdc, ada-usdc, op-usdc, mkr-usdc, shib-usdc, doge-usdc, usdt-gbp, aave-usdc, rndr-usdc, btc-gbp, inv-usdc, avax-usdc, ldo-usdc, qnt-usdc, trb-usdc, hbar-usdc, suku-usdc, ogn-usdc, eth-gbp, fet-usdc, icp-usdc, arb-usdc, dot-usdc, jasmy-usdc, atom-usdc, xrp-usdt, uni-usdc, storj-usdc, inj-usdc, usdt-usdc, stx-usdc, etc-usdc, usdc-gbp, algo-usdc, shping-usdc, ape-usdc, blz-usdc, fil-usdc, comp-usdc, lqty-usdc, near-usdc, yfi-usdc, grt-usdc, cbeth-usdc, snx-usdc, apt-usdc, ach-usdc, sol-gbp, amp-usdc, skl-usdc, dai-usdc, eos-usdc, asm-usdc, oxt-usdc, tru-usdc, acs-usdc, blur-usdc, crv-usdc, sol-usdt, sushi-usdc, sui-usdc, matic-usdt, cvc-usdc, imx-usdc, xtz-usdc, sand-usdc, mana-usdc, lrc-usdc, gusd-usdc, fida-usdc, vet-usdc, sei-usdc, rpl-usdc, spell-usdc, mask-usdc, rose-usdc, magic-usdc, ankr-usdc, lpt-usdc, mdt-usdc, agld-usdc, auction-usdc, perp-usdc, cro-usdc, matic-gbp, ltc-gbp, api3-usdc, euroc-usdc, link-usdt, mpl-usdc, mco2-usdc, chz-usdc, poly-usdc, loka-usdc, iotx-usdc, mln-usdc, flow-usdc, chz-usdt, gtc-usdc, wcfg-usdc, prime-usdc, zrx-usdc, ren-usdc, vara-usdc, cgld-usdc, flow-usdt, syn-usdc, lcx-usdc, pyr-usdc, vtho-usdc, fet-usdt, atom-gbp, lqty-usdt, wbtc-usdc, rndr-usdt, link-gbp, nkn-usdc, axs-usdc, icp-usdt, plu-usdc, coti-usdc, hnt-usdc, sand-usdt, forth-usdc, bico-usdc, knc-usdc, ens-usdc, zec-usdc, high-usdc, nmr-usdc, enj-usdc, orca-usdc, hft-usdc, ocean-usdc, ada-gbp, doge-usdt, ilv-usdc, dimo-usdc, doge-gbp, op-usdt, dnt-usdc, dash-usdc, ctsi-usdc, mina-usdc, flr-usdc, xcn-usdc, unfi-usdc, btrst-usdc, pundix-usdc, ape-usdt, deso-usdc, rlc-usdc, shib-usdt, hbar-usdt, 1inch-usdc, bat-usdc, egld-usdc, avax-usdt, req-usdc, prq-usdc, audio-usdc, kava-usdc, fx-usdc, ata-usdc, clv-usdc, gmt-usdc, png-usdc, boba-usdc, xyo-usdc, uma-usdc, coval-usdc, mxc-usdc, alcx-usdc, near-usdt, time-usdc, rose-usdt, pla-usdc, voxel-usdc, arpa-usdc, band-usdc, tone-usdc, media-usdc, etc-gbp, trac-usdc, atom-usdt, xlm-usdt, super-usdc, ant-usdc, rad-usdc, bal-usdc, ksm-usdc, fort-usdc, icp-gbp, gods-usdc, shib-gbp, zen-usdc, ada-usdt, farm-usdc, mask-gbp, pond-usdt, bch-gbp, dot-usdt, powr-usdc, nct-usdc, dot-gbp, tru-usdt, axl-usdc, pyusd-usdc, swftc-usdc, dext-usdc, snx-gbp, glm-usdc, gal-usdc, perp-usdt, mtl-usdc, tvk-usdc, apt-usdt, cvx-usdc, celr-usdc, gfi-usdc, crpt-usdc, dyp-usdc, qnt-usdt, ach-usdt, algo-gbp, bnt-usdc, metis-usdc, fox-usdc, ctx-usdc, mnde-usdc, pond-usdc, bit-usdc, qsp-usdc, imx-usdt, c98-usdc, spa-usdc, osmo-usdc, drep-usdc, badger-usdc, stx-usdt, pro-usdc, aave-gbp, grt-gbp, chz-gbp, skl-gbp, quick-usdc, aurora-usdc, msol-usdc, axs-usdt, t-usdc, alice-usdc, lrc-usdt, muse-usdc, sylo-usdc, snt-usdc, orn-usdc, mona-usdc, band-gbp, ast-usdc, aioz-usdc, lseth-usdc, gst-usdc, ern-usdc, mask-usdt, jasmy-usdt, lit-usdc, wampl-usdc, krl-usdc, idex-usdc, fil-gbp, abt-usdc, dar-usdc, pols-usdc, 1inch-gbp, 00-usdc, rbn-usdc, hft-usdt, rari-usdc, sushi-gbp, fis-usdc, zen-usdt, agld-usdt, qi-usdc, powr-usdt, index-usdc, dia-usdc, ksm-usdt, gno-usdc, crv-gbp, cro-usdt, pax-usdc, uni-gbp, xtz-gbp, bico-usdt, gyen-usdc, arpa-usdt, gal-usdt, avt-usdc, rai-usdc, ankr-gbp, btrst-usdt, math-usdc, waxl-usdc, trac-usdt, aleph-usdc, lcx-usdt, ela-usdc, auction-usdt, aergo-usdc, ern-usdt, metis-usdt, req-gbp, deso-usdt, spell-usdt, rad-usdt, super-usdt, hopr-usdc, req-usdt, ghst-usdc, c98-usdt, rare-usdc, gmt-usdt, cgld-gbp, ens-usdt, idex-usdt, xyo-usdt, ela-usdt, enj-usdt, rad-gbp, nmr-gbp, uma-gbp, mina-usdt, badger-usdt, nkn-gbp, gala-usdc**"
        },
        {
          "in": "path",
          "name": "interval",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "1d"
            ]
          },
          "description": "The interval of the candles"
        },
        {
          "in": "path",
          "name": "format",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "csv",
              "json"
            ]
          },
          "description": "The format of the response"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {},
              "text/csv": {}
            }
          }
        }
      }
    },
    "/{ticker}/{year}/{month}/{day}/{interval}.{format}": {
      "parameters": [
        {
          "in": "path",
          "name": "year",
          "required": true,
          "schema": {
            "type": "number"
          },
          "description": "The year"
        },
        {
          "in": "path",
          "name": "month",
          "required": true,
          "schema": {
            "type": "number"
          },
          "description": "The month"
        },
        {
          "in": "path",
          "name": "day",
          "required": true,
          "schema": {
            "type": "number"
          },
          "description": "The day"
        },
        {
          "in": "path",
          "name": "ticker",
          "required": true,
          "schema": {
            "type": "string",
            "enum": ["00-usd","1inch-btc","1inch-eur","1inch-usd","aave-btc","aave-eur","aave-usd","abt-usd","ach-usd","acs-usd","ada-btc","ada-eth","ada-eur","ada-usd","aergo-usd","agld-usd","aioz-usd","alcx-usd","aleph-usd","algo-btc","algo-eur","algo-usd","alice-usd","amp-usd","ankr-btc","ankr-eur","ankr-usd","ant-usd","ape-eur","ape-usd","api3-usd","apt-usd","arb-usd","arpa-eur","arpa-usd","asm-usd","ast-usd","ata-usd","atom-btc","atom-eur","atom-usd","auction-eur","auction-usd","audio-usd","aurora-usd","avax-btc","avax-eur","avax-usd","avt-usd","axl-usd","axs-btc","axs-eur","axs-usd","badger-eur","badger-usd","bal-btc","bal-usd","band-btc","band-eur","band-usd","bat-btc","bat-eth","bat-eur","bat-usd","bch-btc","bch-eur","bch-usd","bico-eur","bico-usd","bit-usd","blur-usd","blz-usd","bnt-btc","bnt-eur","bnt-usd","boba-usd","btc-eur","btc-usd","btrst-btc","btrst-eur","btrst-usd","c98-usd","cbeth-eth","cbeth-usd","celr-usd","cgld-btc","cgld-eur","cgld-usd","chz-eur","chz-usd","clv-usd","comp-btc","comp-usd","coti-usd","coval-usd","cro-eur","cro-usd","crpt-usd","crv-btc","crv-eur","crv-usd","ctsi-btc","ctsi-usd","ctx-usd","cvc-usd","cvx-usd","dai-usd","dar-usd","dash-btc","dash-usd","deso-usd","dext-usd","dia-usd","dimo-usd","dnt-usd","doge-btc","doge-eur","doge-usd","dot-btc","dot-eur","dot-usd","drep-usd","dyp-usd","egld-usd","ela-usd","enj-btc","enj-usd","ens-eur","ens-usd","eos-btc","eos-eur","eos-usd","ern-usd","etc-btc","etc-eur","etc-usd","eth-btc","eth-dai","eth-eur","eth-usd","euroc-eur","euroc-usd","farm-usd","fet-usd","fida-usd","fil-btc","fil-eur","fil-usd","fis-usd","flow-usd","flr-usd","fort-usd","forth-btc","forth-eur","forth-usd","fox-usd","fx-usd","gal-usd","gala-usd","gfi-usd","ghst-usd","glm-usd","gmt-usd","gno-usd","gods-usd","grt-btc","grt-eur","grt-usd","gst-usd","gtc-usd","gusd-usd","gyen-usd","hbar-usd","hft-usd","high-usd","hnt-usd","hopr-usd","icp-btc","icp-eur","icp-usd","idex-usd","ilv-usd","imx-usd","index-usd","inj-usd","inv-usd","iotx-eur","iotx-usd","jasmy-usd","kava-usd","knc-btc","knc-usd","krl-usd","ksm-usd","lcx-eur","lcx-usd","ldo-usd","link-btc","link-eth","link-eur","link-usd","lit-usd","loka-usd","lpt-usd","lqty-eur","lqty-usd","lrc-btc","lrc-usd","lseth-eth","lseth-usd","ltc-btc","ltc-eur","ltc-usd","magic-usd","mana-btc","mana-eth","mana-eur","mana-usd","mask-eur","mask-usd","math-usd","matic-btc","matic-eur","matic-usd","mco2-usd","mdt-usd","media-usd","metis-usd","mina-eur","mina-usd","mkr-btc","mkr-usd","mln-usd","mnde-usd","mona-usd","mpl-usd","msol-usd","mtl-usd","muse-usd","mxc-usd","nct-usd","near-usd","nkn-btc","nkn-eur","nkn-usd","nmr-btc","nmr-eur","nmr-usd","ocean-usd","ogn-btc","ogn-usd","op-usd","orca-usd","orn-usd","osmo-usd","oxt-usd","pax-usd","perp-eur","perp-usd","pla-usd","plu-usd","png-usd","pols-usd","poly-usd","pond-usd","powr-eur","powr-usd","prime-usd","pro-usd","prq-usd","pundix-usd","pyr-usd","pyusd-usd","qi-usd","qnt-usd","qsp-usd","quick-usd","rad-btc","rad-eur","rad-usd","rai-usd","rare-usd","rari-usd","rbn-usd","ren-btc","ren-usd","req-btc","req-eur","req-usd","rlc-btc","rlc-usd","rndr-eur","rndr-usd","rose-usd","rpl-usd","sand-usd","sei-usd","shib-eur","shib-usd","shping-usd","skl-btc","skl-eur","skl-usd","snt-usd","snx-btc","snx-eur","snx-usd","sol-btc","sol-eth","sol-eur","sol-usd","spa-usd","spell-usd","storj-btc","storj-usd","stx-usd","sui-usd","suku-usd","super-usd","sushi-btc","sushi-eth","sushi-eur","sushi-usd","swftc-usd","sylo-usd","syn-usd","t-usd","time-usd","tone-usd","trac-eur","trac-usd","trb-usd","tru-btc","tru-eur","tru-usd","tvk-usd","uma-btc","uma-eur","uma-usd","unfi-usd","uni-btc","uni-eur","uni-usd","usdc-eur","usdt-eur","usdt-usd","vara-usd","vet-usd","voxel-usd","vtho-usd","wampl-usd","waxl-usd","wbtc-btc","wbtc-usd","wcfg-usd","xcn-usd","xlm-btc","xlm-eur","xlm-usd","xrp-eur","xrp-usd","xtz-btc","xtz-eur","xtz-usd","xyo-eur","xyo-usd","yfi-btc","yfi-usd","zec-btc","zec-usd","zen-btc","zen-usd","zrx-btc","zrx-eur","zrx-usd"]
          },
          "example": "btc-usd",
          "description": "Identifier of the ticker\n\n**Not yet supported values: btc-usdc, eth-usdc, xrp-usdc, sol-usdc, btc-usdt, link-usdc, matic-usdc, xlm-usdc, bch-usdc, eth-usdt, ltc-usdc, ada-usdc, op-usdc, mkr-usdc, shib-usdc, doge-usdc, usdt-gbp, aave-usdc, rndr-usdc, btc-gbp, inv-usdc, avax-usdc, ldo-usdc, qnt-usdc, trb-usdc, hbar-usdc, suku-usdc, ogn-usdc, eth-gbp, fet-usdc, icp-usdc, arb-usdc, dot-usdc, jasmy-usdc, atom-usdc, xrp-usdt, uni-usdc, storj-usdc, inj-usdc, usdt-usdc, stx-usdc, etc-usdc, usdc-gbp, algo-usdc, shping-usdc, ape-usdc, blz-usdc, fil-usdc, comp-usdc, lqty-usdc, near-usdc, yfi-usdc, grt-usdc, cbeth-usdc, snx-usdc, apt-usdc, ach-usdc, sol-gbp, amp-usdc, skl-usdc, dai-usdc, eos-usdc, asm-usdc, oxt-usdc, tru-usdc, acs-usdc, blur-usdc, crv-usdc, sol-usdt, sushi-usdc, sui-usdc, matic-usdt, cvc-usdc, imx-usdc, xtz-usdc, sand-usdc, mana-usdc, lrc-usdc, gusd-usdc, fida-usdc, vet-usdc, sei-usdc, rpl-usdc, spell-usdc, mask-usdc, rose-usdc, magic-usdc, ankr-usdc, lpt-usdc, mdt-usdc, agld-usdc, auction-usdc, perp-usdc, cro-usdc, matic-gbp, ltc-gbp, api3-usdc, euroc-usdc, link-usdt, mpl-usdc, mco2-usdc, chz-usdc, poly-usdc, loka-usdc, iotx-usdc, mln-usdc, flow-usdc, chz-usdt, gtc-usdc, wcfg-usdc, prime-usdc, zrx-usdc, ren-usdc, vara-usdc, cgld-usdc, flow-usdt, syn-usdc, lcx-usdc, pyr-usdc, vtho-usdc, fet-usdt, atom-gbp, lqty-usdt, wbtc-usdc, rndr-usdt, link-gbp, nkn-usdc, axs-usdc, icp-usdt, plu-usdc, coti-usdc, hnt-usdc, sand-usdt, forth-usdc, bico-usdc, knc-usdc, ens-usdc, zec-usdc, high-usdc, nmr-usdc, enj-usdc, orca-usdc, hft-usdc, ocean-usdc, ada-gbp, doge-usdt, ilv-usdc, dimo-usdc, doge-gbp, op-usdt, dnt-usdc, dash-usdc, ctsi-usdc, mina-usdc, flr-usdc, xcn-usdc, unfi-usdc, btrst-usdc, pundix-usdc, ape-usdt, deso-usdc, rlc-usdc, shib-usdt, hbar-usdt, 1inch-usdc, bat-usdc, egld-usdc, avax-usdt, req-usdc, prq-usdc, audio-usdc, kava-usdc, fx-usdc, ata-usdc, clv-usdc, gmt-usdc, png-usdc, boba-usdc, xyo-usdc, uma-usdc, coval-usdc, mxc-usdc, alcx-usdc, near-usdt, time-usdc, rose-usdt, pla-usdc, voxel-usdc, arpa-usdc, band-usdc, tone-usdc, media-usdc, etc-gbp, trac-usdc, atom-usdt, xlm-usdt, super-usdc, ant-usdc, rad-usdc, bal-usdc, ksm-usdc, fort-usdc, icp-gbp, gods-usdc, shib-gbp, zen-usdc, ada-usdt, farm-usdc, mask-gbp, pond-usdt, bch-gbp, dot-usdt, powr-usdc, nct-usdc, dot-gbp, tru-usdt, axl-usdc, pyusd-usdc, swftc-usdc, dext-usdc, snx-gbp, glm-usdc, gal-usdc, perp-usdt, mtl-usdc, tvk-usdc, apt-usdt, cvx-usdc, celr-usdc, gfi-usdc, crpt-usdc, dyp-usdc, qnt-usdt, ach-usdt, algo-gbp, bnt-usdc, metis-usdc, fox-usdc, ctx-usdc, mnde-usdc, pond-usdc, bit-usdc, qsp-usdc, imx-usdt, c98-usdc, spa-usdc, osmo-usdc, drep-usdc, badger-usdc, stx-usdt, pro-usdc, aave-gbp, grt-gbp, chz-gbp, skl-gbp, quick-usdc, aurora-usdc, msol-usdc, axs-usdt, t-usdc, alice-usdc, lrc-usdt, muse-usdc, sylo-usdc, snt-usdc, orn-usdc, mona-usdc, band-gbp, ast-usdc, aioz-usdc, lseth-usdc, gst-usdc, ern-usdc, mask-usdt, jasmy-usdt, lit-usdc, wampl-usdc, krl-usdc, idex-usdc, fil-gbp, abt-usdc, dar-usdc, pols-usdc, 1inch-gbp, 00-usdc, rbn-usdc, hft-usdt, rari-usdc, sushi-gbp, fis-usdc, zen-usdt, agld-usdt, qi-usdc, powr-usdt, index-usdc, dia-usdc, ksm-usdt, gno-usdc, crv-gbp, cro-usdt, pax-usdc, uni-gbp, xtz-gbp, bico-usdt, gyen-usdc, arpa-usdt, gal-usdt, avt-usdc, rai-usdc, ankr-gbp, btrst-usdt, math-usdc, waxl-usdc, trac-usdt, aleph-usdc, lcx-usdt, ela-usdc, auction-usdt, aergo-usdc, ern-usdt, metis-usdt, req-gbp, deso-usdt, spell-usdt, rad-usdt, super-usdt, hopr-usdc, req-usdt, ghst-usdc, c98-usdt, rare-usdc, gmt-usdt, cgld-gbp, ens-usdt, idex-usdt, xyo-usdt, ela-usdt, enj-usdt, rad-gbp, nmr-gbp, uma-gbp, mina-usdt, badger-usdt, nkn-gbp, gala-usdc**"
        },
        {
          "in": "path",
          "name": "interval",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "1d"
            ]
          },
          "description": "The interval of the candles"
        },
        {
          "in": "path",
          "name": "format",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "csv",
              "json"
            ]
          },
          "description": "The format of the response"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {},
              "text/csv": {}
            }
          }
        }
      }
    },
    "/{ticker}/{interval}.{format}": {
      "parameters": [
        {
          "in": "path",
          "name": "ticker",
          "required": true,
          "schema": {
            "type": "string",
            "enum": ["00-usd","1inch-btc","1inch-eur","1inch-usd","aave-btc","aave-eur","aave-usd","abt-usd","ach-usd","acs-usd","ada-btc","ada-eth","ada-eur","ada-usd","aergo-usd","agld-usd","aioz-usd","alcx-usd","aleph-usd","algo-btc","algo-eur","algo-usd","alice-usd","amp-usd","ankr-btc","ankr-eur","ankr-usd","ant-usd","ape-eur","ape-usd","api3-usd","apt-usd","arb-usd","arpa-eur","arpa-usd","asm-usd","ast-usd","ata-usd","atom-btc","atom-eur","atom-usd","auction-eur","auction-usd","audio-usd","aurora-usd","avax-btc","avax-eur","avax-usd","avt-usd","axl-usd","axs-btc","axs-eur","axs-usd","badger-eur","badger-usd","bal-btc","bal-usd","band-btc","band-eur","band-usd","bat-btc","bat-eth","bat-eur","bat-usd","bch-btc","bch-eur","bch-usd","bico-eur","bico-usd","bit-usd","blur-usd","blz-usd","bnt-btc","bnt-eur","bnt-usd","boba-usd","btc-eur","btc-usd","btrst-btc","btrst-eur","btrst-usd","c98-usd","cbeth-eth","cbeth-usd","celr-usd","cgld-btc","cgld-eur","cgld-usd","chz-eur","chz-usd","clv-usd","comp-btc","comp-usd","coti-usd","coval-usd","cro-eur","cro-usd","crpt-usd","crv-btc","crv-eur","crv-usd","ctsi-btc","ctsi-usd","ctx-usd","cvc-usd","cvx-usd","dai-usd","dar-usd","dash-btc","dash-usd","deso-usd","dext-usd","dia-usd","dimo-usd","dnt-usd","doge-btc","doge-eur","doge-usd","dot-btc","dot-eur","dot-usd","drep-usd","dyp-usd","egld-usd","ela-usd","enj-btc","enj-usd","ens-eur","ens-usd","eos-btc","eos-eur","eos-usd","ern-usd","etc-btc","etc-eur","etc-usd","eth-btc","eth-dai","eth-eur","eth-usd","euroc-eur","euroc-usd","farm-usd","fet-usd","fida-usd","fil-btc","fil-eur","fil-usd","fis-usd","flow-usd","flr-usd","fort-usd","forth-btc","forth-eur","forth-usd","fox-usd","fx-usd","gal-usd","gala-usd","gfi-usd","ghst-usd","glm-usd","gmt-usd","gno-usd","gods-usd","grt-btc","grt-eur","grt-usd","gst-usd","gtc-usd","gusd-usd","gyen-usd","hbar-usd","hft-usd","high-usd","hnt-usd","hopr-usd","icp-btc","icp-eur","icp-usd","idex-usd","ilv-usd","imx-usd","index-usd","inj-usd","inv-usd","iotx-eur","iotx-usd","jasmy-usd","kava-usd","knc-btc","knc-usd","krl-usd","ksm-usd","lcx-eur","lcx-usd","ldo-usd","link-btc","link-eth","link-eur","link-usd","lit-usd","loka-usd","lpt-usd","lqty-eur","lqty-usd","lrc-btc","lrc-usd","lseth-eth","lseth-usd","ltc-btc","ltc-eur","ltc-usd","magic-usd","mana-btc","mana-eth","mana-eur","mana-usd","mask-eur","mask-usd","math-usd","matic-btc","matic-eur","matic-usd","mco2-usd","mdt-usd","media-usd","metis-usd","mina-eur","mina-usd","mkr-btc","mkr-usd","mln-usd","mnde-usd","mona-usd","mpl-usd","msol-usd","mtl-usd","muse-usd","mxc-usd","nct-usd","near-usd","nkn-btc","nkn-eur","nkn-usd","nmr-btc","nmr-eur","nmr-usd","ocean-usd","ogn-btc","ogn-usd","op-usd","orca-usd","orn-usd","osmo-usd","oxt-usd","pax-usd","perp-eur","perp-usd","pla-usd","plu-usd","png-usd","pols-usd","poly-usd","pond-usd","powr-eur","powr-usd","prime-usd","pro-usd","prq-usd","pundix-usd","pyr-usd","pyusd-usd","qi-usd","qnt-usd","qsp-usd","quick-usd","rad-btc","rad-eur","rad-usd","rai-usd","rare-usd","rari-usd","rbn-usd","ren-btc","ren-usd","req-btc","req-eur","req-usd","rlc-btc","rlc-usd","rndr-eur","rndr-usd","rose-usd","rpl-usd","sand-usd","sei-usd","shib-eur","shib-usd","shping-usd","skl-btc","skl-eur","skl-usd","snt-usd","snx-btc","snx-eur","snx-usd","sol-btc","sol-eth","sol-eur","sol-usd","spa-usd","spell-usd","storj-btc","storj-usd","stx-usd","sui-usd","suku-usd","super-usd","sushi-btc","sushi-eth","sushi-eur","sushi-usd","swftc-usd","sylo-usd","syn-usd","t-usd","time-usd","tone-usd","trac-eur","trac-usd","trb-usd","tru-btc","tru-eur","tru-usd","tvk-usd","uma-btc","uma-eur","uma-usd","unfi-usd","uni-btc","uni-eur","uni-usd","usdc-eur","usdt-eur","usdt-usd","vara-usd","vet-usd","voxel-usd","vtho-usd","wampl-usd","waxl-usd","wbtc-btc","wbtc-usd","wcfg-usd","xcn-usd","xlm-btc","xlm-eur","xlm-usd","xrp-eur","xrp-usd","xtz-btc","xtz-eur","xtz-usd","xyo-eur","xyo-usd","yfi-btc","yfi-usd","zec-btc","zec-usd","zen-btc","zen-usd","zrx-btc","zrx-eur","zrx-usd"]
          },
          "example": "btc-usd",
          "description": "Identifier of the ticker\n\n**Not yet supported values: btc-usdc, eth-usdc, xrp-usdc, sol-usdc, btc-usdt, link-usdc, matic-usdc, xlm-usdc, bch-usdc, eth-usdt, ltc-usdc, ada-usdc, op-usdc, mkr-usdc, shib-usdc, doge-usdc, usdt-gbp, aave-usdc, rndr-usdc, btc-gbp, inv-usdc, avax-usdc, ldo-usdc, qnt-usdc, trb-usdc, hbar-usdc, suku-usdc, ogn-usdc, eth-gbp, fet-usdc, icp-usdc, arb-usdc, dot-usdc, jasmy-usdc, atom-usdc, xrp-usdt, uni-usdc, storj-usdc, inj-usdc, usdt-usdc, stx-usdc, etc-usdc, usdc-gbp, algo-usdc, shping-usdc, ape-usdc, blz-usdc, fil-usdc, comp-usdc, lqty-usdc, near-usdc, yfi-usdc, grt-usdc, cbeth-usdc, snx-usdc, apt-usdc, ach-usdc, sol-gbp, amp-usdc, skl-usdc, dai-usdc, eos-usdc, asm-usdc, oxt-usdc, tru-usdc, acs-usdc, blur-usdc, crv-usdc, sol-usdt, sushi-usdc, sui-usdc, matic-usdt, cvc-usdc, imx-usdc, xtz-usdc, sand-usdc, mana-usdc, lrc-usdc, gusd-usdc, fida-usdc, vet-usdc, sei-usdc, rpl-usdc, spell-usdc, mask-usdc, rose-usdc, magic-usdc, ankr-usdc, lpt-usdc, mdt-usdc, agld-usdc, auction-usdc, perp-usdc, cro-usdc, matic-gbp, ltc-gbp, api3-usdc, euroc-usdc, link-usdt, mpl-usdc, mco2-usdc, chz-usdc, poly-usdc, loka-usdc, iotx-usdc, mln-usdc, flow-usdc, chz-usdt, gtc-usdc, wcfg-usdc, prime-usdc, zrx-usdc, ren-usdc, vara-usdc, cgld-usdc, flow-usdt, syn-usdc, lcx-usdc, pyr-usdc, vtho-usdc, fet-usdt, atom-gbp, lqty-usdt, wbtc-usdc, rndr-usdt, link-gbp, nkn-usdc, axs-usdc, icp-usdt, plu-usdc, coti-usdc, hnt-usdc, sand-usdt, forth-usdc, bico-usdc, knc-usdc, ens-usdc, zec-usdc, high-usdc, nmr-usdc, enj-usdc, orca-usdc, hft-usdc, ocean-usdc, ada-gbp, doge-usdt, ilv-usdc, dimo-usdc, doge-gbp, op-usdt, dnt-usdc, dash-usdc, ctsi-usdc, mina-usdc, flr-usdc, xcn-usdc, unfi-usdc, btrst-usdc, pundix-usdc, ape-usdt, deso-usdc, rlc-usdc, shib-usdt, hbar-usdt, 1inch-usdc, bat-usdc, egld-usdc, avax-usdt, req-usdc, prq-usdc, audio-usdc, kava-usdc, fx-usdc, ata-usdc, clv-usdc, gmt-usdc, png-usdc, boba-usdc, xyo-usdc, uma-usdc, coval-usdc, mxc-usdc, alcx-usdc, near-usdt, time-usdc, rose-usdt, pla-usdc, voxel-usdc, arpa-usdc, band-usdc, tone-usdc, media-usdc, etc-gbp, trac-usdc, atom-usdt, xlm-usdt, super-usdc, ant-usdc, rad-usdc, bal-usdc, ksm-usdc, fort-usdc, icp-gbp, gods-usdc, shib-gbp, zen-usdc, ada-usdt, farm-usdc, mask-gbp, pond-usdt, bch-gbp, dot-usdt, powr-usdc, nct-usdc, dot-gbp, tru-usdt, axl-usdc, pyusd-usdc, swftc-usdc, dext-usdc, snx-gbp, glm-usdc, gal-usdc, perp-usdt, mtl-usdc, tvk-usdc, apt-usdt, cvx-usdc, celr-usdc, gfi-usdc, crpt-usdc, dyp-usdc, qnt-usdt, ach-usdt, algo-gbp, bnt-usdc, metis-usdc, fox-usdc, ctx-usdc, mnde-usdc, pond-usdc, bit-usdc, qsp-usdc, imx-usdt, c98-usdc, spa-usdc, osmo-usdc, drep-usdc, badger-usdc, stx-usdt, pro-usdc, aave-gbp, grt-gbp, chz-gbp, skl-gbp, quick-usdc, aurora-usdc, msol-usdc, axs-usdt, t-usdc, alice-usdc, lrc-usdt, muse-usdc, sylo-usdc, snt-usdc, orn-usdc, mona-usdc, band-gbp, ast-usdc, aioz-usdc, lseth-usdc, gst-usdc, ern-usdc, mask-usdt, jasmy-usdt, lit-usdc, wampl-usdc, krl-usdc, idex-usdc, fil-gbp, abt-usdc, dar-usdc, pols-usdc, 1inch-gbp, 00-usdc, rbn-usdc, hft-usdt, rari-usdc, sushi-gbp, fis-usdc, zen-usdt, agld-usdt, qi-usdc, powr-usdt, index-usdc, dia-usdc, ksm-usdt, gno-usdc, crv-gbp, cro-usdt, pax-usdc, uni-gbp, xtz-gbp, bico-usdt, gyen-usdc, arpa-usdt, gal-usdt, avt-usdc, rai-usdc, ankr-gbp, btrst-usdt, math-usdc, waxl-usdc, trac-usdt, aleph-usdc, lcx-usdt, ela-usdc, auction-usdt, aergo-usdc, ern-usdt, metis-usdt, req-gbp, deso-usdt, spell-usdt, rad-usdt, super-usdt, hopr-usdc, req-usdt, ghst-usdc, c98-usdt, rare-usdc, gmt-usdt, cgld-gbp, ens-usdt, idex-usdt, xyo-usdt, ela-usdt, enj-usdt, rad-gbp, nmr-gbp, uma-gbp, mina-usdt, badger-usdt, nkn-gbp, gala-usdc**"
        },
        {
          "in": "path",
          "name": "interval",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "1d"
            ]
          },
          "description": "The interval of the candles"
        },
        {
          "in": "path",
          "name": "format",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "csv",
              "json"
            ]
          },
          "description": "The format of the response"
        }
      ],
      "get": {
        "tags": [
          "History"
        ],
        "summary": "Get financial data",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {},
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "format": "date"
                      },
                      "open": {
                        "type": "number"
                      },
                      "high": {
                        "type": "number"
                      },
                      "low": {
                        "type": "number"
                      },
                      "close": {
                        "type": "number"
                      },
                      "volume": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
